<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">前台菜单管理</h2>
        <span class="layui-breadcrumb pull-right">
            <a href="#!console">首页</a>
            <a>
                <cite>前台菜单管理</cite>
            </a>
        </span>
    </div>
    <!-- 搜索条件 -->
        <div class="layui-form toolbar">
            <form id="searchForm" onsubmit="return false;">
               	&emsp; 菜单名称：<input name="nameZhTw" class="layui-input search-input" type="text" placeholder="输入菜单名称"/>&emsp;
                <button id="homelink-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
            </form>
        </div>
        
    <div class="layui-card-body">
        <script type="text/html" id="homelink-toolbar">
            <div class="layui-btn-container">
                {{# if({{addShow}} == true){ }}
                <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add"><i
                        class="layui-icon">&#xe654;</i>添加
                </button>
                {{# } }}
                <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="expandAll"><i class="layui-icon">
                    &#xe6b1;</i>全部展开
                </button>
                <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="foldAll"><i
                        class="layui-icon">&#xe656;</i>全部折叠
                </button>
            </div>
        </script>
        <!-- 数据表格 -->
        <table class="layui-table" id="homelink-table" lay-filter="homelink-table"></table>
    </div>
</div>

<script type="text/html" id="homelink-tpl-status">
    <input type="checkbox" lay-filter="homelink-tpl-status" title="{{d.display}}" value="{{d.id}}" lay-skin="switch"
           lay-text="显示|关闭" {{d.display==1?'checked':''}}/>
</script>

<!-- 表格操作列 -->
<script type="text/html" id="homelink-table-bar">
    {{#  if({{editShow}} == true){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    {{#  } }}
    {{#  if({{deleteShow}} == true){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{#  } }}
</script>

<script>
    layui.use(['form', 'table', 'config', 'crown', 'treetable'], function () {
        var form = layui.form;
        var table = layui.table;
        var config = layui.config;
        var layer = layui.layer;
        var crown = layui.crown;
        var treetable = layui.treetable;
        var tableId = '#homelink-table';
        $('#homelink-toolbar').vm({
            addShow: crown.hasPerm("sys:homelink:add")
        });
        $('#homelink-table-bar').vm({
            editShow: crown.hasPerm("sys:homelink:edit"),
            deleteShow: crown.hasPerm("sys:homelink:delete")
        });
        // 渲染表格
        var renderTable = function () {
            treetable.render({
                elem: tableId,
                //树形图标显示在第几列
                treeColIndex: 1,
                //最上级的父级id
                treeSpid: 0,
                //id字段的名称
                treeIdName: 'id',
                //pid字段的名称
                treePidName: 'parent',
                //是否默认折叠
                treeDefaultClose: false,
                toolbar: '#homelink-toolbar',
                url: config.serverUrl + '/homelinks',
                headers: {Authorization: config.getToken()},
                cols: [[
                    {field: 'id', align: 'center', sort: true, width: 60, title: 'ID'},
                    {field: 'nameZhTw', align: 'center', sort: true, title: '前台菜单名称'},
                    {
                        align: 'center', templet: function (d) {
                            if (d.isblank === 1) {
                                return '<span class="layui-badge layui-bg-gray">开新视窗</span>';
                            } else if (d.isblank === 2) {
                                return '<span class="layui-badge layui-bg-blue">拥有第二层</span>';
                            } else if (d.isblank === 0) {
                                return '<span class="layui-badge layui-badge-rim">本页开启.</span>';
                            } else {
                                return '<span class="layui-bg-black">未知</span>';
                            }
                        }, title: '连接方式'
                    },
                    {field: 'display', align: 'center', templet: '#homelink-tpl-status', title: '是否显示', width: 100},
                    {field: 'sortnum', align: 'center', sort: true, width: 100, title: '排序'},
                    {field: 'clicknum', align: 'center', sort: true, width: 100, title: '点击率'},
                    {field: 'updateTime', align: 'center', sort: true, title: '修改时间'},
                    {fixed: 'right', align: 'center', toolbar: '#homelink-table-bar', title: '操作'}
                ]]
            });
        };
        renderTable();

        // 表格顶部操作列
        table.on('toolbar(homelink-table)', function (obj) {
            if (obj.event === 'add') {
                showEditModel();
            } else if (obj.event === 'expandAll') {
                treetable.expandAll(tableId);
            } else if (obj.event === 'foldAll') {
                treetable.foldAll(tableId);
            }
        });

        // 工具条点击事件
        table.on('tool(homelink-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'edit') {
                showEditModel(data);
            } else if (obj.event === 'del') {
                layer.confirm('确定删除该记录吗？', function () {
                    crown.delete('/homelinks/' + data.id, {}, function () {
                    	layer.closeAll('loading');
                        layer.msg('删除成功', {icon: 1});
                    }, false);
                    renderTable();
                });
            }
        });

        //显示表单弹窗
        var showEditModel = function (data) {
            if (data) {
                crown.get('/homelinks/' + data.id, {async: false}, function (data) {
                    crown.putTempData('t_homelink', data.result);
                });
            }
            crown.popupCenter({
                title: data ? '修改前台菜单' : '添加前台菜单',
                path: 'components/views/homelink/form.html',
                finish: function () {
                    renderTable();
                }
            });
        };

     // 搜索按钮点击事件
        $('#homelink-btn-search').click(function () {
        	
        	renderTable();
        	//renderTable.reload({where: crown.getSearchForm()});
        });
     
        // 修改状态
        form.on('switch(homelink-tpl-status)', function (obj) {
            layer.load(2);
            crown.put('/homelinks/' + obj.elem.value + '/status',
                {data: {status: obj.elem.checked ? 0 : 1}}, function () {
                    layer.closeAll('loading');
                    layer.msg('前台菜单状态更新成功', {icon: 1});
                });
        });
    });
</script>